/* @import url('https://fonts.googleapis.com/css2?family=architects+daugther:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: #f3f3f3;
  color: #000;
  font-size: 26px;
  font-weight: 500;
  /* z-index: 1; */
}

header div, .sun {
  transform: rotate(-2deg);
  margin: 0;
}

header .sun {
  font-family: 'Architects Daughter', cursive;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

form {
  margin-top: -15px;
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
}

.inputField i {
  position: absolute;
}

.fas {
  padding: 13px;
  text-align: left;
  color: rgb(186, 182, 192);
}

input {
  font-family: 'Open Sans', sans-serif;
  border: 0;
  padding: 13px 38px 13px 35px;
  background: #fff;
  outline: none;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0px 6px 6px rgba(0,0,0,0.1);
}

::placeholder {
  color: #A2A2A2;
  font-weight: 500;
  font-size: 14px;
}

input:focus {
  outline: 0;
}

.currentLoc {
  font-size: 14px;
  font-weight: 700;
}

label u {
  margin: 2px;
}

.weatherData {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #929292;
}

.weatherDataLeft {
  display: flex;
  align-items: center;
}

.weatherDataRight {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}

.weatherDataRight, p, span {
  display: flex;
  justify-content: space-between;
}

.weatherDataRight span {
  font-weight: 600;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecastItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  width: 150px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .weatherData {
    display: block;
  }

  .weatherDataRight {
    width: 100%;
  }

  .forecast {
    flex-direction: column;
    align-items: center;
  }

}